name: CI

permissions:
  contents: read

on:
  pull_request:
  push:
    branches: [main]

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  # Cancel in progress workflows if a new workflow is started for the same pull request
  cancel-in-progress: ${{github.event_name == 'pull_request'}}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          key: ${{ runner.os }}-stable-${{ hashFiles('**/Cargo.toml') }}
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
      - uses: dtolnay/rust-toolchain@4be9e76fd7c4901c61fb841f559994984270fce7 # stable
        with:
          components: rustfmt, clippy
      - name: Format Check
        run: cargo fmt --check
      - name: Clippy Check
        run: cargo clippy --locked --all-targets --all-features -- -D warnings
      - name: Test
        run: cargo test --locked --all-targets --all-features
      - name: Test
        run: cargo test --locked --all-targets --no-default-features
